@model ProjektC.Models.Adopcja

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły adopcji</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusAdopcji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusAdopcji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRozpoczeciaAdopcji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRozpoczeciaAdopcji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZakonczeniaAdopcji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZakonczeniaAdopcji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPracownikaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPracownikaNavigation.IdPracownika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUzytkownikaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUzytkownikaNavigation.IdUzytkownika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdZwierzeciaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZwierzeciaNavigation.IdZwierzecia)
        </dd>
    </dl>
</div>
<div>
    <h5></h5>
    <a asp-action="Edit" asp-route-id="@Model?.IdAdopcji" class="button-link">Edytuj</a> 
    <h5>            </h5>
    <a asp-action="Index" class="button-link" class="button-link">Powrót</a>
</div>
